{% extends "header.html" %}

{% block body %}

  <div class="add_buttons">

    <div class="button-group">

    </div>

  </div>

  <div>

    <h4>Currently Viewing {{ header }}</h4>
  </div>

  <table class="table table-hover" style="border: 1px solid black; width: 100%; word-wrap:break-word;
  table-layout: fixed;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Job Tittle</th>
        <th>Contact Name</th>
        <th>Contact Number</th>
        <th>Emails</th>
        <th>Company Website</th>
        <th>Address</th>
        <th>Linkedin</th>
        <th>Jobs</th>

        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for item in items %}

      <tr>
        <td>{{ item.pk }}
        <td>{{ item.company_name }}</td>
        <td>{{ item.job_title }}</td>
        <td>{{ item.contact_name }}</td>
        <td>{{ item.contact_number }}</td>
        <td>{{ item.emails }}</td>
        <td>{{ item.company_website }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.linkedin|wordwrap:5|linebreaksbr }}</td>
        <td>{{ item.jobs }}</td>
        <td><button type='button' id="my_button" onclick="location.href='mailto:{{ item.emails }}';"> Send Email</button></td>
  


      </tr>

      {% endfor %}
    </tbody>
  </table>

{% endblock %}
